@model Store.Domain.Entities.Cart

@{
    Layout = null;   
}
<div id="cart">
    <span class="caption">
        <b>Ваша корзина: </b>
        Количество позиций: @Model.Lines.Sum(x=>x.Quantity),
        На сумму: @Model.ComputeTotalValue().ToString("c")
    </span>
    @Html.ActionLink("Просмотреть", "Index", "Cart", new { returnUrl = Request.Url.PathAndQuery}, null)
</div>
